# CONFIGURACIÓN DE API


# URL del backend Laravel
VITE_API_URL=http://127.0.0.1:8000/api/v1

# Otras variables de entorno que capaz podríamos necesitar
# VITE_APP_NAME=Sistema Fumigación
# VITE_APP_VERSION=1.0.0
